.example-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
  
}

.invalid {
    color: red;
}

/* Asegura que los mat-form-fields y textareas ocupen el ancho completo */
mat-form-field,
textarea {
    width: 100%;
    box-sizing: border-box;
    /* Asegura que el padding y el border se incluyan en el ancho total */
}

mat-expansion-panel {
    margin-top: 0px;
}

.button-spacing {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}