<form class="example-container" [formGroup]="form" #frmnameGlossary="ngForm" (submit)="operate()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idGlossary">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width, invalid">

        <input matInput placeholder="Palabra" minlength="2" maxlength="50" required pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]{1,50}"
            formControlName="word">
        <small *ngIf="form.get('word').hasError('required') && form.get('word').touched">
            Debe ingresar una palabra para registrar en el glosario
        </small>
        <small *ngIf="form.get('word').hasError('minlength') && form.get('word').dirty">
            Debe ingresar minimo 3 caracteres
        </small>
        <small *ngIf="form.get('word').hasError('pattern') && form.get('word').dirty">
            La palabra no puede incluir números
        </small>
    </mat-form-field>

    <mat-form-field class="example-full-width, invalid">
        <mat-label>Escribe la definción</mat-label>

        <textarea matInput placeholder="Definición" minlength="3" maxlength="1200" rows="10" required
                  formControlName="definition"></textarea>

        <div *ngIf="form.get('definition').invalid && form.get('definition').dirty">
            <small *ngIf="form.get('definition').hasError('required')">
                Debe ingresar una definición para el glosario
            </small>
            <small *ngIf="form.get('definition').hasError('minlength')">
                Debe ingresar mínimo 3 caracteres
            </small>
            <small *ngIf="form.get('definition').hasError('maxlength')">
                Debe ingresar máximo 1.200 caracteres
            </small>
        </div>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameGlossary.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/glossary">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>