<form class="example-container" [formGroup]="form" #frmnameUtensil="ngForm" (submit)="operate()">

    <div>
        <h1>Utensilio</h1>
        <h2>Formulario de registro</h2>
    </div>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idUtensil">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label>Escribe la Utensil</mat-label>

        <textarea matInput placeholder="Utensil" required  formControlName="utensilName"></textarea>

        <div *ngIf="form.get('utensilName').invalid && form.get('utensilName').dirty">
            <small *ngIf="form.get('utensilName').hasError('required')">
                Debe ingresar la utensil. 
            </small>
        </div>
    </mat-form-field>
    <div>
        <h2>Procedimiento</h2>
        <div formArrayName="lstUtensilByProcedure" class="example-full-width">
            <div *ngFor="let control of utensilByProcedures.controls; let i = index" [formGroupName]="i">

                <mat-form-field>
                    <mat-label>Seleccione un procedimiento</mat-label>

                    <input matInput placeholder="Seleccione un procedimiento" formControlName="procedure" required
                        [matAutocomplete]="autoProcedure">

                    <mat-autocomplete #autoProcedure="matAutocomplete" [displayWith]="showProcedure">
                        <mat-option *ngFor="let p of procedure" [value]="p">
                            {{ p.name }}
                        </mat-option>
                    </mat-autocomplete>

                    <button class="button-spacing" mat-raised-button color="accent" style="float: right"
                        (click)="removeUtensilByProcedure(i)">Quitar</button>
                </mat-form-field>

            </div>
            <button class="button-spacing" mat-raised-button color="primary" type="button" style="float: left"
                (click)="addUtensilByProcedure()">Agregar programas</button>
        </div>
    </div>

    
    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameUtensil.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/utensil">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>