<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <img src="assets/ingeniabpmlogo.png">

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon>
                <span>My account</span>
            </button>
            <button mat-menu-item (click)="sidenav.opened = false">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 300px" mode="over">

            <!---<img src="assets/ingeniabpm.png" width="130" style="margin-left: 80px">--->

            <mat-divider></mat-divider>
            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/" style="cursor:progress">
                <mat-icon>
                    <img src="assets/icons/dashboard.png" width="20" height="20">
                </mat-icon>
                <span>Dashboard</span>
            </button>
            <mat-divider></mat-divider>

            <!---CLIENTE--------------------------------------------------------------------->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. CLIENTE
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/companytype" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/tipoempresa1.png" width="20" height="20">
                        </mat-icon>
                        <span>1.1 Tipo empresa</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/company" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/client.png" width="20" height="20">
                        </mat-icon>
                        <span>1.2 Empresa</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/user" style="cursor: pointer">
                        <span>1.3 Usuario</span>
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/user.png" width="20" height="20">
                        </mat-icon>
                    </button>

                </mat-expansion-panel>
            </mat-accordion>

            <!---PROGRAMA--------------------------------------------------------------------->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. DISEÑO DEL PROGRAMA
                            <!--  <mat-icon class="icon-menu">extensions</mat-icon>--->
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/program" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/monitoring.png" width="20" height="20">
                        </mat-icon>
                        <span>2.1 Nombre del programa</span>
                    </button>
                    <mat-divider></mat-divider>

                    
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon class="icon-menu">
                                    <img src="assets/icons/specificgoal.png" width="20" height="20">
                                </mat-icon>
                                2.2 Objetivo
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/generalgoal" style="cursor: pointer">
                            <span>2.2.1 General</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/specificgoal" style="cursor: pointer">
                            <span>2.2.2 Específico</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/" style="cursor: pointer">
                            <span>2.2.3 Asociar</span>
                        </button>
                        <mat-divider></mat-divider>
                    </mat-expansion-panel>

                 

                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="assets/icons/book.png" width="20" height="20">
                                <span>2.3 Alcance </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/scope" style="cursor: pointer">
                            2.3.1 Alcance
                        </button>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/" style="cursor: pointer">
                            2.3.2 Asociar
                        </button>
                        <mat-divider></mat-divider>
                    </mat-expansion-panel>


                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="assets/icons/book.png" width="20" height="20">
                                2.4 Glosario
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/glossary" style="cursor: pointer">
                            <span>2.4.1 Glosario</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/glossarybyprogrambycompanytype" style="cursor: pointer">
                            <span>2.4.2 Asociar</span>
                        </button>
                        <mat-divider></mat-divider>
                    </mat-expansion-panel>

                

                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="assets/icons/book.png" width="20" height="20">
                                2.5 Marco teórico
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/theoreticalframework" style="cursor: pointer">
                            <span>2.5.1 Marco teórico</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button class="myButton" [routerLinkActive]="['active']" mat-menu-item
                            (click)="sidenav.toggle()" routerLink="/pages/theoreticalframeworkbyprogrambycompanytype" style="cursor: pointer">
                            <span>2.5.2 Asociar</span>
                        </button>
                        <mat-divider></mat-divider>

                    </mat-expansion-panel>


                    <mat-divider></mat-divider>



                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/programbycompany" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/theory.png" width="20" height="20">
                        </mat-icon>
                        <span>2.7 Programas por empresa</span>
                    </button>
                    <mat-divider></mat-divider>

                </mat-expansion-panel>
            </mat-accordion>

            <!---PROCEDIMIENTO--------------------------------------------------------------------->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            3. PROCEDIMIENTO
                            <!--  <mat-icon class="icon-menu">extensions</mat-icon>--->
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/program" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/monitoring.png" width="20" height="20">
                        </mat-icon>
                        <span>2.6 Nombre del procedimiento</span>
                    </button>
                    <mat-divider></mat-divider>

                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/companytype" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/variable.png" width="20" height="20">
                        </mat-icon>
                        <span>3.1 Variable</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/cliente" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/element.png" width="20" height="20">
                        </mat-icon>
                        <span>3.2 Elemento</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/user" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/consumer.png" width="20" height="20">
                        </mat-icon>
                        <span>3.3 Insumo</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                        routerLink="/pages/user" style="cursor: pointer">
                        <mat-icon class="icon-menu">
                            <img src="assets/icons/ejecucion.png" width="20" height="20">
                        </mat-icon>
                        <span>3.4 Procedimiento</span>
                    </button>

                    <mat-divider></mat-divider>

                </mat-expansion-panel>
            </mat-accordion>


            <!---EJECUCIÓN--------------------------------------------------------------------->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. EJECUCION
                            <!--  <mat-icon class="icon-menu">extensions</mat-icon>--->
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>

                </mat-expansion-panel>
            </mat-accordion>

            <!---REPORTES--------------------------------------------------------------------->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. REPORTES
                            <!--  <mat-icon class="icon-menu">extensions</mat-icon>--->
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-divider></mat-divider>
            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/report" style="cursor: pointer">
                <mat-icon>assessment</mat-icon>
                <span>Report</span>
            </button>
            <mat-divider></mat-divider>
        </mat-sidenav>



        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>