
<form class="example-container" [formGroup]="form" #frmnameGlossaryByProgramByCompanyType="ngForm" (submit)="operate()">
    <mat-label>
        <div>
            <h1>Configurar objetivo</h1>
        </div>
    </mat-label>
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idGeneralGoalByProgramByCompanyType">
        </mat-form-field>
    </div>

    <h3>Objetivo</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione el objetivo general" required formControlName="generalGoal"
            [matAutocomplete]="autoGeneralGoal" [formControl]="generalGoalControl">
        <mat-error
            *ngIf="form.get('generalGoal').invalid && (form.get('generalGoal').touched || form.get('generalGoal').dirty)">
            <span *ngIf="form.get('generalGoal').hasError('required')">
                Debe seleccionar un objetivo general
            </span>
        </mat-error>
        <mat-autocomplete #autoGeneralGoal="matAutocomplete" [displayWith]="showGeneralGoal">
            <mat-option *ngFor="let g of generalGoal" [value]="g">
                {{g.generalGoal}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <h3>Programa</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione el tipo de empresa" required formControlName="program"
            [matAutocomplete]="autoProgram" [formControl]="programControl">
        <mat-error
            *ngIf="form.get('program').invalid && (form.get('program').touched || form.get('program').dirty)">
            <span *ngIf="form.get('program').hasError('required')">
                Debe seleccionar un programa
            </span>
        </mat-error>

        <mat-autocomplete #autoProgram="matAutocomplete" [displayWith]="showProgram">
            <mat-option *ngFor="let p of program" [value]="p">
                {{p.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <h3>Tipo de empresa</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione el tipo de empresa" required formControlName="companyType"
            [matAutocomplete]="autoCompanyType" [formControl]="companyTypeControl">
        <mat-error
            *ngIf="form.get('companyType').invalid && (form.get('companyType').touched || form.get('companyType').dirty)">
            <span *ngIf="form.get('companyType').hasError('required')">
                Debe seleccionar un tipo de empresa
            </span>
        </mat-error>

        <mat-autocomplete #autoCompanyType="matAutocomplete" [displayWith]="showCompanyType">
            <mat-option *ngFor="let c of companyType" [value]="c">
                {{c.nameCompanyType}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameGlossaryByProgramByCompanyType.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/glossarybyprogrambycompanytype">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>
