
<form class="example-container" [formGroup]="form" #frmnameTheoreticalFrameworkByProgramByCompanyType="ngForm" (submit)="operate()">
    <mat-label>
        <div>
            <h1>Glosario por programa por compañia</h1>
        </div>
    </mat-label>
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idTheoreticalFrameworkByProgramByCompanyType">
        </mat-form-field>
    </div>

    <h3>Marco teórico</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione la palabra" required formControlName="theoreticalFramework"
            [matAutocomplete]="autoTheoreticalFramework" [formControl]="theoreticalFrameworkControl">
        <mat-error
            *ngIf="form.get('theoreticalFramework').invalid && (form.get('theoreticalFramework').touched || form.get('theoreticalFramework').dirty)">
            <span *ngIf="form.get('theoreticalFramework').hasError('required')">
                Debe seleccionar un marco teórico
            </span>
        </mat-error>
        <mat-autocomplete #autoTheoreticalFramework="matAutocomplete" [displayWith]="showTheoreticalFramework">
            <mat-option *ngFor="let t of theoreticalFramework" [value]="t">
                {{t.generalConsiderations}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <h3>Programa</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione el tipo de empresa" required formControlName="program"
            [matAutocomplete]="autoProgram" [formControl]="programControl">
        <mat-error
            *ngIf="form.get('program').invalid && (form.get('program').touched || form.get('program').dirty)">
            <span *ngIf="form.get('program').hasError('required')">
                Debe seleccionar un programa
            </span>
        </mat-error>

        <mat-autocomplete #autoProgram="matAutocomplete" [displayWith]="showProgram">
            <mat-option *ngFor="let p of program" [value]="p">
                {{p.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <h3>Tipo de empresa</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione el tipo de empresa" required formControlName="companyType"
            [matAutocomplete]="autoCompanyType" [formControl]="companyTypeControl">
        <mat-error
            *ngIf="form.get('companyType').invalid && (form.get('companyType').touched || form.get('companyType').dirty)">
            <span *ngIf="form.get('companyType').hasError('required')">
                Debe seleccionar un tipo de empresa
            </span>
        </mat-error>

        <mat-autocomplete #autoCompanyType="matAutocomplete" [displayWith]="showCompanyType">
            <mat-option *ngFor="let c of companyType" [value]="c">
                {{c.nameCompanyType}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameTheoreticalFrameworkByProgramByCompanyType.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/theoreticalframeworkbyprogrambycompanytype">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>
