<form class="example-container" [formGroup]="form" #frmnameUsuario="ngForm" (submit)="operate()">
    <div>
        <h1>Usuario</h1>
        <h2>Formulario de registro de usuario</h2>
    </div>
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idUserData">
        </mat-form-field>
    </div>

    <!-- CLIENTE -->
    <h3>Tipo de empresa</h3>
    <mat-form-field>
        <input matInput placeholder="Seleccione la empresa a la que pertenece el usuario" required=""
            formControlName="client" [matAutocomplete]="autoClient" [formControl]="clientControl">

        <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="showClient">
            <mat-option *ngFor="let c of clientFiltered$ | async" [value]="c">
                {{c.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <!-- TIPO DOCUMENTO IDENTIDAD -->
    <h3>Tipo de documento de identidad</h3>
    <mat-form-field class="example-full-width">
        <mat-label>Tipo de documento de identidad</mat-label>
        <mat-select matNativeControl formControlName="identityType" required>
            <mat-option value="Cédula de ciudadania">Cédula de ciudadania</mat-option>
            <mat-option value="Cédula de extrangería">Cédula de extrangería</mat-option>
            <mat-option value="Tarjeta de Identidad">Tarjeta de Identidad</mat-option>
            <mat-option value="Pasaporte">Pasaporte</mat-option>
        </mat-select>
    </mat-form-field>


    <!-- NUMERO DOCUMENTO DE IDENTIDAD -->
    <h3>Número documento de identidad</h3>
    <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Ingrese el número de documento de identidad" required
            pattern="[0-9]{8,12}" formControlName="numberIdentity">
        <mat-error *ngIf="form.get('numberIdentity').invalid && (form.get('numberIdentity').dirty )">
            <span *ngIf="form.get('numberIdentity').hasError('required')">
                Debe ingresar un número para registrar el documento de identidad.
            </span>
            <span *ngIf="form.get('numberIdentity').hasError('pattern')">
                El documento de identidad debe tener entre 8 y 12 dígitos numéricos.
            </span>
        </mat-error>
    </mat-form-field>



    <!-- PRIMER NOMBRE -->
    <h3>Primer nombre</h3>
    <mat-form-field class="">
        <input matInput placeholder="Primer nombre" minlength="2" maxlength="30" required
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]{1,30}" formControlName="firstName">
        <small *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched">
            Debe ingresar el nombre
        </small>
        <small *ngIf="form.get('firstName').hasError('minlength') && form.get('firstName').dirty">
            Debe ingresar minimo 3 caracteres
        </small>
        <small *ngIf="form.get('firstName').hasError('pattern') && form.get('firstName').dirty">
            El nombre no puede incluir números
        </small>
    </mat-form-field>


    <!-- SEGUNDO NOMBRE -->
    <h3>Segundo nombre</h3>
    <mat-form-field class="">
        <input matInput placeholder="Segundo nombre" minlength="2" maxlength="30" pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]{1,30}"
            formControlName="lastName">
        <small *ngIf="form.get('lastName').hasError('pattern') && form.get('lastName').dirty">
            El nombre no puede incluir números
        </small>
    </mat-form-field>

    <!-- PRIMER APELLIDO -->
    <h3>Primer apellido</h3>
    <mat-form-field class="">
        <input matInput placeholder="Primer nombre" minlength="2" maxlength="30" required
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]{1,30}" formControlName="firstSurname">
        <small *ngIf="form.get('firstSurname').hasError('required') && form.get('firstSurname').touched">
            Debe ingresar el apellido
        </small>
        <small *ngIf="form.get('firstSurname').hasError('minlength') && form.get('firstSurname').dirty">
            Debe ingresar minimo 3 caracteres
        </small>
        <small *ngIf="form.get('firstSurname').hasError('pattern') && form.get('firstSurname').dirty">
            El apellido no puede incluir números
        </small>
    </mat-form-field>


    <!-- SEGUNDO APELLIDO -->
    <h3>Segundo apellido</h3>
    <mat-form-field class="">
        <input matInput placeholder="Segundo nombre" minlength="2" maxlength="30" pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]{1,30}"
            formControlName="lastSurname">
        <small *ngIf="form.get('lastSurname').hasError('pattern') && form.get('lastSurname').dirty">
            El apellido no puede incluir números
        </small>
    </mat-form-field>


    <!-- TELEPHONE -->
    <h3>Telefono</h3>
    <mat-form-field>
        <input matInput type="number" placeholder="Ingrese el número de teléfono" pattern="[0-9]{6,12}"
            formControlName="telephone">
        <mat-error>
            <span *ngIf="form.get('telephone').hasError('pattern')">
                El número tener entre 6 y 12 dígitos numéricos.
            </span>
        </mat-error>
    </mat-form-field>

    <!-- CELULAR -->
    <h3>Celular</h3>
    <mat-form-field>
        <input matInput type="number" placeholder="Ingrese numero de celular" required pattern="[0-9]{10,10}"
            formControlName="mobilePhone">
        <mat-error *ngIf="form.get('mobilePhone').invalid && (form.get('mobilePhone').dirty )">
            <span *ngIf="form.get('mobilePhone').hasError('required')">
                Debe ingresar un número para registrar el celular.
            </span>
            <span *ngIf="form.get('mobilePhone').hasError('pattern')">
                El numero de celular debe tener 10 dígitos numéricos.
            </span>
        </mat-error>
    </mat-form-field>


    <!-- MAIL -->
    <h3>Correo electrónico</h3>
    <mat-form-field class="">
        <input matInput placeholder="Ingrese el correo electrónico" minlength="2" maxlength="30" required
            formControlName="mail">
        <small *ngIf="form.get('mail').hasError('required') && form.get('mail').touched">
            Debe ingresar el correo electrónico
        </small>
        <small *ngIf="form.get('mail').hasError('minlength') && form.get('mail').dirty">
            Debe ingresar minimo 2 caracteres
        </small>
        <!--<small *ngIf="form.get('mail').hasError('pattern') && form.get('mail').dirty">
            Por favor, ingrese un correo electrónico válido.
        </small>-->
    </mat-form-field>


    <!-- COMPANY POSITION -->
    <h3>Cargo en la compañia</h3>
    <mat-form-field class="">
        <input matInput placeholder="Cargo en la compañìa" minlength="2" maxlength="20" required
            pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]{2,20}" formControlName="companyPosition">
        <small *ngIf="form.get('companyPosition').hasError('required') && form.get('companyPosition').touched">
            Debe ingresar el cargo en la compañia
        </small>
        <small *ngIf="form.get('companyPosition').hasError('minlength') && form.get('companyPosition').dirty">
            Debe ingresar minimo 2 caracteres
        </small>
        <small *ngIf="form.get('companyPosition').hasError('pattern') && form.get('companyPosition').dirty">
            El cargo en la compañia no puede incluir números
        </small>
    </mat-form-field>


    <!-- USER NAME -->
    <h3>Nombre de usuario</h3>
    <mat-form-field class="">
        <input matInput placeholder="Cargo en la compañìa" minlength="6" maxlength="12" required
            pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]{2,20}" formControlName="userName">
        <small *ngIf="form.get('userName').hasError('required') && form.get('userName').touched">
            Debe ingresar el nombre de usuario
        </small>
        <small *ngIf="form.get('userName').hasError('minlength') && form.get('userName').dirty">
            Debe ingresar minimo 6 caracteres
        </small>
        <small *ngIf="form.get('userName').hasError('pattern') && form.get('userName').dirty">
            El nombre de usuario no puede incluir números
        </small>
    </mat-form-field>

    <!-- PASSWORD -->
    <h3>Contraseña</h3>
    <mat-form-field>
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>


    <!-- PRIVILEGE -->
    <h3>Privilegio</h3>
    <mat-form-field class="example-full-width">
        <mat-label>Seleccionar el privilegio del usuario</mat-label>
        <mat-select matNativeControl formControlName="privilege" required>
            <mat-option value="Administrador">Administrador</mat-option>
            <mat-option value="Usuario">Usuario</mat-option>
        </mat-select>
    </mat-form-field>


    <!-- IS ACTIVE -->
    <h3>Activo</h3>
    <mat-form-field class="example-full-width">
        <mat-label>¿Esta activo el usuario?</mat-label>
        <mat-select matNativeControl formControlName="isActive" required>
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
        </mat-select>

        </mat-form-field>



    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameUsuario.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/user">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>