.example-container {
    display: flex;
    flex-direction: column;
    margin: 100px; /* Espacio alrededor de la tabla */
}

.example-container>* {
    width: 100%;
    border-radius: 100px; 
}

.invalid {
    color: red;
}

