<form class="example-container" [formGroup]="form" #frmnameGeneralGoal="ngForm" (submit)="operate()">
    <div>
        <h1>Formulario de registro</h1>
        <h2>Objetivo General</h2>
    </div>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idGeneralGoal">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label>Objetivo general</mat-label>
        <textarea matInput placeholder="Objetivo general" required formControlName="generalGoal"></textarea>
        <div *ngIf="form.get('generalGoal').invalid && form.get('generalGoal').dirty">
            <small *ngIf="form.get('generalGoal').hasError('required')">
                Debe ingresar un objetivo general
            </small>
        </div>
    </mat-form-field>

    <h2>Objetivos específicos</h2>
    <div formArrayName="lstSpecificGoal" class="example-full-width">
        <div *ngFor="let specificGoal of specificGoals.controls; let i=index" [formGroupName]="i">
            <h3>Objetivo específico {{ i + 1 }}</h3>
            <mat-form-field appearance="fill">
                <mat-label>Objetivo específico</mat-label>
                <textarea matInput placeholder="Objetivo específico" formControlName="specificGoal" required></textarea>
                <button class="button-spacing" mat-raised-button color="accent" style="float: right"
                    (click)="removeSpecificGoal(i)">Quitar</button>
            </mat-form-field>
        </div>
        <button class="button-spacing" mat-raised-button color="primary" type="button" style="float: right"
            (click)="addSpecificGoal()">Agregar</button>
    </div>

<div>
    <h2>Programas</h2>
    <div formArrayName="lstGeneralGoalByProgram" class="example-full-width">
        <div *ngFor="let control of generalGoalByPrograms.controls; let i = index" [formGroupName]="i">
            <h3>Programa {{ i + 1 }}</h3>

            <mat-form-field appearance="fill">
                <mat-label>Seleccione un programa</mat-label>

                <input matInput placeholder="Seleccione un programa" formControlName="program" required
                    [matAutocomplete]="autoProgram">

                <mat-autocomplete #autoProgram="matAutocomplete" [displayWith]="showProgram">
                    <mat-option *ngFor="let p of program" [value]="p">
                        {{ p.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="button-spacing" mat-raised-button color="accent" style="float: right"
                (click)="removeGeneralGoalByProgram(i)">Quitar</button>
        </div>
        <button class="button-spacing" mat-raised-button color="primary" type="button" style="float: right"
            (click)="addgeneralGoalByProgram()">Agregar</button>
    </div>

    <h2>Tipos de empresas</h2>
    <div formArrayName="lstGeneralGoalByCompanyType" class="example-full-width">
        <div *ngFor="let control of generalGoalByCompanyTypes.controls; let i = index" [formGroupName]="i">
            <h3>Tipo de empresa {{ i + 1 }}</h3>
            <mat-form-field appearance="fill">
                <mat-label>Seleccione un tipo de empresa</mat-label>
                <input matInput placeholder="Seleccione el tipo de empresa" required formControlName="companyType"
                    [matAutocomplete]="autoCompanyType">

                <mat-autocomplete #autoCompanyType="matAutocomplete" [displayWith]="showCompanyType">
                    <mat-option *ngFor="let c of companyType" [value]="c">
                        {{ c.nameCompanyType}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <button class="button-spacing" mat-raised-button color="accent" style="float: right"
                (click)="removeGeneralGoalByCompanyType(i)">Quitar</button>
        </div>
        <button class="button-spacing" mat-raised-button color="primary" type="button" style="float: right"
            (click)="addgeneralGoalByCompanyType()">Agregar</button>
    </div>
</div>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameGeneralGoal.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/generalgoal">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>