<form class="example-container" [formGroup]="form" #frmnameVariable="ngForm" (submit)="operate()">

    <div>
        <h1>Variable</h1>
        <h2>Formulario de registro</h2>
    </div>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idVariable">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label>Nombre de la variable</mat-label>

        <textarea matInput placeholder="Variable" required  formControlName="variableName"></textarea>

        <div *ngIf="form.get('variableName').invalid && form.get('variableName').dirty">
            <small *ngIf="form.get('variableName').hasError('required')">
                Debe ingresar la variable. 
            </small>
        </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Valor de referencia a tener en cuenta en la medición</mat-label>
       
        <textarea matInput placeholder="Valor de referencia a tener en cuenta en la medición" required  formControlName="referenceValue"></textarea>

        <div *ngIf="form.get('referenceValue').invalid && form.get('referenceValue').dirty">
            <small *ngIf="form.get('referenceValue').hasError('required')">
                Debe ingresar el valor de referencia de la variable. 
            </small>
        </div>
        <span>El resultado debe estar acorde a la variable</span>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Valor esperado o rango</mat-label>

        <textarea matInput placeholder="Valor esperado" required  formControlName="expectedValue"></textarea>

        <div *ngIf="form.get('expectedValue').invalid && form.get('expectedValue').dirty">
            <small *ngIf="form.get('expectedValue').hasError('required')">
                Debe ingresar el valor de esperado de la variable. 
            </small>
        </div>
    </mat-form-field>


    <div>
        <h2>Procedimiento</h2>
        <div formArrayName="lstVariableByProcedure" class="example-full-width">
            <div *ngFor="let control of variableByProcedures.controls; let i = index" [formGroupName]="i">

                <mat-form-field>
                    <mat-label>Seleccione un procedimiento</mat-label>

                    <input matInput placeholder="Seleccione un procedimiento" formControlName="procedure" required
                        [matAutocomplete]="autoProcedure">

                    <mat-autocomplete #autoProcedure="matAutocomplete" [displayWith]="showProcedure">
                        <mat-option *ngFor="let p of procedure" [value]="p">
                            {{ p.name }}
                        </mat-option>
                    </mat-autocomplete>

                    <button class="button-spacing" mat-raised-button color="accent" style="float: right"
                        (click)="removeVariableByProcedure(i)">Quitar</button>
                </mat-form-field>

            </div>
            <button class="button-spacing" mat-raised-button color="primary" type="button" style="float: left"
                (click)="addVariableByProcedure()">Agregar procedimientos</button>
        </div>
    </div>

    
    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameVariable.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/variable">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>