<form class="example-container" [formGroup]="form" #frmnameTheoreticalFramework="ngForm" (submit)="operate()">

    <h1>Marco teórico</h1>
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idTheoreticalFramework">
        </mat-form-field>
    </div>



    <!-- General conmsiderations -->
    <h2>Consideraciones generales</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Escriba las consideraciones generales</mat-label>

        <textarea matInput placeholder="Consieraciones generales" minlength="3" maxlength="1200" rows="10" required
            formControlName="generalConsiderations"></textarea>

        <div *ngIf="form.get('generalConsiderations').invalid && form.get('generalConsiderations').dirty">
            <small *ngIf="form.get('generalConsiderations').hasError('required')">
                Debe ingresar consideracion general
            </small>
            <small *ngIf="form.get('generalConsiderations').hasError('minlength')">
                Debe ingresar mínimo 3 caracteres
            </small>
            <small *ngIf="form.get('generalConsiderations').hasError('maxlength')">
                Debe ingresar máximo 1.200 caracteres
            </small>
        </div>
    </mat-form-field>

    <!-- Specific conmsiderations -->
    <h2>Consideraciones específicas</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Escriba las consideraciones específicas</mat-label>

        <textarea matInput placeholder="Definición" minlength="3" maxlength="1200" rows="10" required
            formControlName="specificConsiderations"></textarea>
        <div *ngIf="form.get('specificConsiderations').invalid && form.get('specificConsiderations').dirty">
            <small *ngIf="form.get('specificConsiderations').hasError('required')">
                Debe las consideraciones específicas
            </small>
            <small *ngIf="form.get('specificConsiderations').hasError('minlength')">
                Debe ingresar mínimo 3 caracteres
            </small>
            <small *ngIf="form.get('specificConsiderations').hasError('maxlength')">
                Debe ingresar máximo 1.200 caracteres
            </small>
        </div>
    </mat-form-field>


    <!-- urlAnnexed -->
    <h2>Anexos URL</h2>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Anexos URL" formControlName="urlAnnexed" required>
        <mat-error *ngIf="form.get('urlAnnexed').invalid && (form.get('urlAnnexed').dirty )">
            <span *ngIf="form.get('urlAnnexed').hasError('required')">
                Debe ingresar el nombre del cliente.
            </span>
        </mat-error>

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmnameTheoreticalFramework.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" routerLink="/pages/theoreticalframework">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>